body {
    font-family:Verdana,sans-serif;font-size:0.8em;
}
header,footer,section,article ,aside{
    border:1px solid grey;
    margin:5px;margin-bottom:15px;padding:8px;
    background-color:white;
     font-family: "Times New Roman", Times, serif;
}
header,footer {
    color:white;background-color:#444;margin-bottom:5px;
}
section {
    background-color:#fff;
    width: 70%;
    font-family:Verdana,sans-serif;
    border-radius: 25px;

}
nav ul  {
    margin:0;padding:0; 
    
   
}

header{
    background-image:url('../images/news-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    

  
    
}
nav ul li {
    display:inline; margin:5px;

}
aside{
   background-color:#fff;
    width: 25%;
    font-family:Verdana,sans-serif;
      float: right;
      border-radius: 25px;

    
}
h2{
    font-size: 12px;
    color:#036;
}
nav {
  background-image: url("../images/nav_button.jpg");
  background-origin: center;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
  width: 90%; 

}

  nav ul {
    margin: 0;
    padding: 0;
  }

    nav ul li {
      display: inline-block;
      list-style-type: none;
      
      -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; 
    }
      
      nav > ul > li > a > .caret {
        border-top: 4px solid #aaa;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        vertical-align: middle;
  
        -webkit-transition: color 0.1s linear;
          -moz-transition: color 0.1s linear;
        -o-transition: color 0.1s linear;
          transition: color 0.1s linear; 
      }

      nav > ul > li > a {
        color: #aaa;
        display: block;
        line-height: 56px;
        padding: 0 24px;
        text-decoration: none;
      }

        nav > ul > li:hover {
         background-image: url("../images/button.jpg");
        }

        nav > ul > li:hover > a {
          color: white;
        }

        nav > ul > li:hover > a > .caret {
          border-top-color: rgb( 255, 255, 255 );
        }
      
      nav > ul > li > div {
        background-color: rgb( 40, 44, 47 );
        border-top: 0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        display: none;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 165px;
    visibility: hidden;
    z-index: 100;
  
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
      }

        nav > ul > li:hover > div {
          display: block;
          opacity: 1;
          visibility: visible;
          border-radius: 2px;
        }

          nav > ul > li > div ul > li {
            display: block;
          }

            nav > ul > li > div ul > li > a {
              color: #fff;
              display: block;
              padding: 12px 24px;
              text-decoration: none;
            }

              nav > ul > li > div ul > li:hover > a {
                background-color: rgba( 255, 255, 255, 0.1);
              }
  
    


p{
  color:#333;
}


a{
   color: #036;
              display: block;
              padding: 12px 24px;
              text-decoration: none;
}
a:hover{
  color:red;
}












footer{
	background-image:url('../images/nav_button.jpg');
    background-repeat: no-repeat;
    background-position: center;

}



#form
{
    min-width:300px;
    max-width:600px;
    margin:auto;
    font-family: sans-serif;
    box-shadow: 5px 5px 5px #888888;
    padding:20px;
    border:4px solid #27748A;
}

#form h2
{
    color:#27748A;
    font-size:35px;
    margin:0;
}

#form p
{
    font-size:15px;
    color:#222222;
}
#form div
{
    margin-top:10px;
}

#form input, textarea, button
{
    width:100%;
    border:2px solid #9ECEDB;
    padding:3px 5px;
}

#form label
{
    font-weight:bold;
    font-size:12px;
    color:#184552;
}

#form button
{
    background-color: #9ECEDB;
    color: #184552;
    cursor:pointer;
}

#form button:hover
{
    background-color: #CBEAF2;
}
.required
{
    color:#dd6666;
}